<template>
    <div class="container">
        <div class="card mb-2">
            <div class="card-header">
                <h4>New Movie</h4>
            </div>
            <div class="card-body">
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label class="form-check-label">Title</label>
                                <input @keyup.enter="addMovie()" v-model="movie.title" class="form-control">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="form-check-label">Release Year</label>
                                <input @keyup.enter="addMovie()" type="number" v-model="movie.release_year"
                                       class="form-control">
                            </div>
                            <div class="col-lg-12">
                                <button @click="addMovie()" type="button" class="btn btn-block btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card p-2" v-for="(movie, index) in movies">
            <div class="container">
                <div class="row" v-if="formUpdate && index === idUpdate">
                    <div class="col-lg-12 text-left">
                        <h5>Movie ID: {{ movie.id }}</h5>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-control" v-model="movie.title">
                    </div>
                    <div class="col-lg-6">
                        <h6>Release Year: {{ movie.release_year }}</h6>
                    </div>
                    <div class="col-lg-6">
                        <button @click="updateMovie(index)" class="btn btn-primary btn-block">Accept Changes</button>
                    </div>
                    <div class="col-lg-6">
                        <button @click="hideUpdateForm()" class="btn btn-danger btn-block">Cancel</button>
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col-lg-12 text-left">
                        <h5>Movie ID: {{ movie.id }}</h5>
                    </div>
                    <div class="col-lg-6">
                        <h5>Title: {{ movie.title }}</h5>
                    </div>
                    <div class="col-lg-6">
                        <h6>Release Year: {{ movie.release_year }}</h6>
                    </div>
                    <div class="col-lg-12">
                        <h5>Casting</h5>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-group">
                            <li class="list-group-item active">Directors</li>
                            <li class="list-group-item" v-for="director in movie.directors">{{director.full_name}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-group">
                            <li class="list-group-item active">Producers</li>
                            <li class="list-group-item" v-for="producer in movie.producers">{{producer.full_name}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-group">
                            <li class="list-group-item active">Actors/Actresses</li>
                            <li class="list-group-item" v-for="actor in movie.actors">{{actor.full_name}}</li>
                        </ul>
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <button @click="showUpdateForm(index)" class="btn btn-warning btn-block">Update</button>
                            </div>
                            <div class="col-lg-6">
                                <button @click="deleteMovie(movie.id)" class="btn btn-danger btn-block">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getMovies()
        },
        data() {
            return {
                movies: [],
                movie: {
                    release_year: '',
                    title: '',
                    id: '',
                    directors: [],
                    producers: [],
                    actors: []
                },
                actor: {
                    full_name: ''
                },
                idUpdate: -1,
                formUpdate: false
            }
        },
        methods: {
            getMovies(page_url) {
                let url = page_url || '/api/detailed/movies';
                axios.get(url)
                    .then(res => {
                        let data = res.data;
                        this.movies = data.data;
                    })
            },
            deleteMovie(id) {
                let url = '/api/movies/' + id;
                axios.delete(url)
                    .then(res => {
                        console.log(res);
                        this.getMovies();
                        toastr.error('Movie Deleted')
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            addMovie() {
                let url = '/api/movies';
                axios.post(url, this.movie)
                    .then(res => {
                        console.log(res);
                        this.getMovies();
                        toastr.info('Movie Added')
                    })
                    .catch(error => {
                        console.log(error);
                        toastr.error(error)
                    })
            },
            updateMovie(id) {
                let movie = this.movies[id];
                let url = '/api/movies/' + movie.id;
                axios.put(url, {
                    title: movie.title,
                    _method: 'PATCH'
                })
                    .then(res => {
                        this.getMovies();
                        toastr.success('Movie Updated');
                        this.hideUpdateForm();
                    })
                    .catch(error => {
                        console.log(error);
                        toastr.error(error)
                    })
            },
            showUpdateForm(id) {
                this.formUpdate = true;
                this.idUpdate = id;
            },
            hideUpdateForm() {
                this.formUpdate = false;
                this.idUpdate =  -1;
            },

        }

    }
</script>
