<template>
    <div class="container">
        <div class="card mb-2">
            <div class="card-header">
                <h4>New Person</h4>
            </div>
            <div class="card-body">
                <div class="container">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label class="form-check-label">First Name</label>
                                <input @keyup.enter="addPerson()" v-model="person.first_name" class="form-control">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="form-check-label">Last Name</label>
                                <input @keyup.enter="addPerson()" v-model="person.last_name" class="form-control">
                            </div>
                            <div class="col-lg-12">
                                <button type="button" @click="addPerson()" class="btn btn-block btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card p-2" v-for="(person, index) in persons">
            <div class="container">
                <div class="row" v-if="formUpdate && index === idUpdate">
                    <div class="col-lg-4">
                        <input class="form-control" v-model="person.first_name">
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" v-model="person.last_name">
                    </div>
                    <div class="col-lg-4 text-right">
                        <h6>ID: {{ person.id }}</h6>
                    </div>
                    <div class="col-lg-6">
                        <button @click="updatePerson(index)" class="btn btn-success btn-block">Accept Changes</button>
                    </div>
                    <div class="col-lg-6">
                        <button @click="hideUpdateForm()" class="btn btn-danger btn-block">Cancel</button>
                    </div>
                </div>
                <div v-else class="row">
                    <div class="col-lg-8">
                        <h5>Name: {{ person.full_name }}</h5>
                    </div>
                    <div class="col-lg-4 text-right">
                        <h6>ID: {{ person.id }}</h6>
                    </div>
                    <div class="col-lg-12">
                        <h5>Movies</h5>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-group">
                            <li class="list-group-item active">As Director</li>
                            <li class="list-group-item" v-for="director in person.movies_as_director">{{director.title}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-group">
                            <li class="list-group-item active">As Producer</li>
                            <li class="list-group-item" v-for="producer in person.movies_as_producer">{{producer.title}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-group">
                            <li class="list-group-item active">As Actors/Actresses</li>
                            <li class="list-group-item" v-for="actor in person.movies_as_actor">{{actor.title}}</li>
                        </ul>
                    </div>
                    <div class="container mt-4">
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <button @click="showUpdateForm(index)" class="btn btn-warning btn-block">Update</button>
                            </div>
                            <div class="col-lg-6">
                                <button @click="deletePerson(person.id)" class="btn btn-danger btn-block">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getPersons()
        },
        data() {
            return {
                persons: [],
                person: {
                    first_name: '',
                    last_name: '',
                    full_name: '',
                    id: '',
                    movies_as_director: [],
                    movies_as_producer: [],
                    movies_as_actor: []
                },
                idUpdate: -1,
                formUpdate: false
            }
        },
        methods: {
            getPersons() {
                let url = '/api/detailed/persons';
                axios.get(url)
                    .then(res => {
                        let data = res.data;
                        this.persons = data.data;
                    })
            },
            deletePerson(id) {
                let url = '/api/persons/'+id;
                axios.delete(url)
                    .then(res => {
                        console.log(res);
                        this.getPersons();
                        toastr.error('Person deleted')
                    })
                    .catch(error => {
                        toastr.error(error)
                    })
            },
            updatePerson(id) {
                let person = this.persons[id];
                this.persons[id].full_name = person.first_name+' '+person.last_name;
                let url = '/api/persons/' + person.id;
                axios.put(url, {
                     first_name: person.first_name,
                     last_name: person.last_name,
                    _method: 'PATCH'
                })
                    .then(res => {
                        this.getPersons();
                        toastr.success('Person Updated');
                        this.hideUpdateForm();
                    })
                    .catch(error => {
                        console.log(error);
                        toastr.error(error)
                    })
            },
            addPerson() {
                let url = "/api/persons";
                axios.post(url, this.person)
                    .then(res => {
                        this.getPersons();
                        toastr.success('Person Added');
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            showUpdateForm(id) {
                this.formUpdate = true;
                this.idUpdate = id;
            },
            hideUpdateForm() {
                this.formUpdate = false;
                this.idUpdate =  -1;
            },

        }

    }
</script>
